# Flutter
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
build/
ios/Flutter/Generated.xcconfig
ios/Flutter/flutter_export_environment.sh
ios/Pods/
macos/Flutter/Generated.xcconfig
macos/Flutter/flutter_export_environment.sh
macos/Pods/
.pub-cache/
.packages

# Rust
target/
**/*.rs.bk

# IDE
.idea/
.vscode/
*.iml
*.DS_Store

# Temporary
tmp/
*.log
