# General
.DS_Store
.idea/
.vscode/

# Rust (tactanotes_core)
/tactanotes_core/target/
/tactanotes_core/**/Cargo.lock

# Flutter (tactanotes_ui)
/tactanotes_ui/.dart_tool/
/tactanotes_ui/.flutter-plugins
/tactanotes_ui/.flutter-plugins-dependencies
/tactanotes_ui/build/
/tactanotes_ui/ios/Flutter/Generated.xcconfig
/tactanotes_ui/ios/Flutter/flutter_export_environment.sh
/tactanotes_ui/android/.gradle
/tactanotes_ui/android/local.properties
/tactanotes_ui/pubspec.lock

# Ephemeral / Tmp
tmp/
*.log
